<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h1>Team Name: <%= @team.name  %></h1>
 
 <p>Coach: <%= @coach.name  %></p>
 <p>Point Guard: <%= @pg.name  %></p>
 <p>Shooting Guard: <%= @sg.name  %></p>
 <p>Small Foward: <%= @sf.name  %></p>
 <p>Power Foward: <%= @pf.name  %></p>
 <p>Center: <%= @c.name  %></p>
 </body>
</html>


