<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h1>Team Name: <%= @team.name  %></h1>
 
 <p>coach: <%= @coach.name  %></p>
 <p>point: <%= @pg.name  %></p>
 <p>Team Name: <%= @sg.name  %></p>
 <p>Team Name: <%= @sf.name  %></p>
 <p>Team Name: <%= @pf.name  %></p>
 <p>Team Name: <%= @c.name  %></p>
 </body>
</html>


